<!DOCTYPE html>
<html>
<head>
  <title>Peace App</title>
  <style>
    header {
      text-align: center;
    }

    nav {
      display: inline-block;
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    li {
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/all">All</a></li>
        <li><a href="/reports">Reports</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
